* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: 'Nanum Gothic Coding', monospace; */
  font-family: 'Cutive Mono', monospace;
  font-size: 1.8rem bold;
  line-height: 1.6;
  height: 100%;
  width: 100vw;
  margin: 0 auto;
  background-color: #dcf0c2;
  color: #3d5845;
}

.logo {
  height: 50px;
  margin: 20px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.3s;
  width: 100%;
  margin: 0 auto;
  box-shadow: 2px 2px 5px grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dcf0c2;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #2e673f;
  cursor: pointer;
  padding: 10px;
  
}
nav a:hover,
nav a:focus {
  border-radius: 20px;
  color:  #f8f6f6;
  box-shadow: 2px 2px 5px grey;
  background-color: #3d5845;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #3d5845;
  margin: 5px;
  transition: all 0.3s ease; 
}



#welcome-section {
  height: 100vh;
  padding-top: 60px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  background-image: url('./images/welcome-img.jpg');
  background-size: 100%;
}
.intro {
  border: 5px #dcf0c2 dotted;
  border-radius: 20px;
  padding: 40px;
  width: 50%;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #3d5845;
  margin: 0;
}
h2 {
  text-align: center;
  margin-top: 0;
}
h3 { 
  margin-top: 0;
}
p {
  font-size: 1rem;
  
}
h4 {
  margin: 15px 0;
}
.resume {
  margin: 20px;
}
.resume a {
  font-family: inherit;
  font-size: 1rem;
  color: #3d5845;
  background-color: #dcf0c2;
  text-decoration: none;
  padding: 10px; 
  margin-top: 20px;
  border: 1px solid  #c4c5c2;
  border-radius: 30px;
  cursor: pointer;
}
.resume a:hover,
.resume a:focus {
  color:  #fcfafa;
  background-color:  #3d5845;
  box-shadow: 2px 2px 5px #808080; 
}

#skills {
  width: 500px;
  display: flex;
  flex-direction: column;
 
}
.tools-techs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.icons {
  font-size: 3rem;
  color: #3d5845;
}
.icons:hover
.icons:focus {
  color: #cfcfcf;
  text-shadow: 2px 2px 5px #808080;
}

#projects {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  justify-items: center;
  justify-content: space-around;
}
.project-tile {
  width: 80%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  margin: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 5px gray;
  background-color: #f5eded;
  
}
.project-preview {
  margin: 0 auto;
  box-shadow: 2px 2px 5px gray;
  margin-top: 15px;
}
.links{
  padding: 5px;
  margin: 10px 0 25px 0;
}
.first-column {
  justify-self: end;
}
.second-column {
  justify-self: start;
}
.project-tile a {
  font-size: .8rem;
  cursor: pointer;
  text-decoration: none;
  color: #3d5845;
  padding: 10px;
  margin: 5px; 
  border: 1px solid  #c4c5c2;
  border-radius: 30px;
 }
.project-tile a:hover,
.project-tile a:focus {
   text-decoration: none;
   color:  #fcfafa;
   box-shadow: 2px 2px 5px #808080;
   background-color:  #3d5845;
}
 /* contact */
#contact {
  width: 100%;
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-links {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 40px 20px;
}

#profile-links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #3d5845;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
#profile-links a:hover,
#profile-links a:focus {
  color: #cfcfcf;

}
/* footer */
#footer {
  color: #3d5845;
  background-color: #bbbdb8;
  width: 100%;
  padding: 20px;
}
.copyright {
  text-align: end;
  font-size: .8rem;
}
@media screen and (max-width: 1150px) {
  nav {
    height: 70px;
  }
  .logo {
    margin-left: 50px;
  }
  .nav-links {
    width: 50%;
  }
  #welcome-section {
    background-repeat: no-repeat;
    height: 100vh;
    
  }
  .intro {
    width: 80%;
  }
  .project-preview {
    margin-bottom: 0;
  }
  .copyright {
    margin-right: 40px;
  }
}
@media screen and (max-width: 990px) {
  .logo {
    margin: 0 30px;
    padding: 5px;
  }
  #welcome-section {
    background-repeat: no-repeat;
    justify-content: center;
    height: 70vh;
    padding-top: 80px;
  }
  .intro {
    width: 60%;
    margin-bottom: 20px;
  }

  h3 {
    margin-bottom: 10px;
  }
  .icons {
    font-size: 1.5rem;
  }
  .grid-container {
    grid-template-columns: repeat(1, 80%);
  }
  .project-tile {
    grid-template-rows: repeat(2, 50%);
    width: 80%;
  }
  .project-first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .project-second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project-preview {
    margin-bottom: 0;
  }
  .links{
    margin: 10px 0 0 0;
  }
  .first-column,
  .second-column {
    justify-self: center;
  }
} 

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .logo {
    margin: 0;
    padding: 5px;
  }
  nav {
    height: 60px;
    padding: 20px;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #dcf0c2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-link {
    opacity: 0;
    width: 100%;
  }
  .burger {
    display: block;
  }
  #welcome-section {
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    justify-content: center;
    padding-top: 80px;
  }
  .intro {
    width: 80%;
    
  }
  h1 {
    font-size: 2rem;
  }
}
 .nav-active {
   transform: translateX(0%);
 }
 @keyframes navLinkFade {
   from{
     opacity: 0;
     transform: translateX(50px);
   }
   to{
     opacity: 1;
     transform: translateX(0px);
   }
 }
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
 }
.toggle .line2 {
   opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}



  @media screen and (max-width: 560px) {
    nav {
      height: 40px;
      padding: 20px;
    }
    .logo {
      padding: 10px 0;
    }
    .nav-links {
      height: 95vh;
      top: 5.5vh;
    }
    #welcome-section {
      height: 50vh;
      justify-content: center;
      padding-top: 40px;
    }
    .intro {
      padding: 10px;
    }
    h1 {
     font-size: 1.5rem;
     margin: 0;
    }
    h2 {
      font-size: 1rem;
      margin-bottom: 10px;
    }
    .intro a {
      font-size: 0.6rem;
      margin: 20px;
    }
    .links {
      margin : 20px;
      padding: 0;
    }
  
    p {
      font-size: 0.8rem;;
    }
    .icons {
      font-size: 1.5rem;
    }
    .project-preview {
      margin-bottom: 0;
      width: 200px;
      height: 200px;
    }
    #profile-links {
      width: 60%;
      
    }
    footer {
      height: 10px;
      
    }
    .copyright {
      
      margin: 0 auto;
    }
  }
  @media screen and (max-width: 450px) {
    nav {
      width: 100vw;
    }
    .nav-links {
      position: absolute;
      right: 0px;
      height: 100vh;
      top:5.5vh;
    }
    #welcome-section {
      width: 100vw;
      height: 40vh;
      justify-content: center;
      padding-top: 50px;
    }
    .intro {
      padding: 10px;
      margin: 0;
    }
    #skills {
      width: 300px;
      display: flex;
      flex-direction: column;
    }
    .tools-techs {
      width: 100%;
    }
    .icons {
      font-size: 1rem;
      color: #3d5845;
    }
    .project-preview {
      margin: 0;
    }
    .project-tile {
      width: 100%;
    }
    .project-tile a {
      display: flex;
      flex-direction: row;
      justify-content: center;

    }
  }
  @media screen and (max-width: 360px) {
    #welcome-section {
      padding-top: 30px;
    }
    
    h1, h2 {
      font-size: .8em;
    }
    h3, h4 {
      font-size: .6em;
    }
    .copyright {
      font-size: .5rem;
      text-align: center;
      padding: 0;
    }
    .links {
      margin: 0;
    }
  }